<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Formatting_IgnoreLinesStartingWith" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;string&gt;ReSharper disable &lt;/string&gt;
  &lt;string&gt;ReSharper enable &lt;/string&gt;
&lt;/ArrayOfString&gt;</value>
            </setting>
            <setting name="Feature_BuildProgressToolWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_RemoveRegion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_MemberTypeStructs" serializeAs="String">
                <value>Structs||6||Enums + Structs + Interfaces + Classes</value>
            </setting>
            <setting name="Reorganizing_MemberTypeConstructors" serializeAs="String">
                <value>Constructors||3||Constructors + Destructors</value>
            </setting>
            <setting name="Reorganizing_MemberTypeMethods" serializeAs="String">
                <value>Methods||4||Methods</value>
            </setting>
            <setting name="Reorganizing_MemberTypeProperties" serializeAs="String">
                <value>Properties||2||Properties</value>
            </setting>
            <setting name="Reorganizing_MemberTypeEnums" serializeAs="String">
                <value>Enums||6||Enums + Structs + Interfaces + Classes</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDestructors" serializeAs="String">
                <value>Destructors||3||Constructors + Destructors</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDelegates" serializeAs="String">
                <value>Delegates||5||Events + Delegates + Indexers</value>
            </setting>
            <setting name="Reorganizing_MemberTypeIndexers" serializeAs="String">
                <value>Indexers||5||Events + Delegates + Indexers</value>
            </setting>
            <setting name="Reorganizing_MemberTypeClasses" serializeAs="String">
                <value>Classes||6||Enums + Structs + Interfaces + Classes</value>
            </setting>
            <setting name="Reorganizing_MemberTypeFields" serializeAs="String">
                <value>Fields||1||Fields</value>
            </setting>
            <setting name="Reorganizing_MemberTypeInterfaces" serializeAs="String">
                <value>Interfaces||6||Enums + Structs + Interfaces + Classes</value>
            </setting>
            <setting name="Reorganizing_MemberTypeEvents" serializeAs="String">
                <value>Events||5||Events + Delegates + Indexers</value>
            </setting>
            <setting name="Cleaning_RunVisualStudioRemoveAndSortUsingStatements"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentWrapColumn" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Digging_ComplexityAlertThreshold" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Digging_IndentationMargin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Progressing_HideBuildProgressOnBuildStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_ShowBuildProgressOnBuildStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_AlphabetizeMembersOfTheSameGroup"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterRegionTags"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeEndRegionTags"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_PerformPartialCleanupOnExternal" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Feature_JoinLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_ShowStartPageOnSolutionClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_CollapseSelectedSolutionExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_CollapseAllSolutionExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_FindInSolutionExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_SettingCleanupOnSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RemoveRegions" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeRegionTags"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeMethods"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_UpdateEndRegionDirectives" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterMethods" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Digging_ShowMethodParameters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Digging_ShowItemMetadata" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Digging_ShowItemTypes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_ShowProgressOnWindowsTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Digging_SynchronizeOutlining" serializeAs="String">
                <value>True</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>